<h1>
    Cubic Functions
</h1>
<p>
    <em>
        f(x) = a(x-h)<sup>3</sup> + k
    </em>
</p>
<p>
    This cubic is represented in vertex form.  
    <ul>
        <li>
            The vertex of this cubic is <em>(h, k)</em>.
        </li>
        <li>
            <em>a</em> represents the vertical stretch of this cubic. 
        </li>
    </ul>
</p>
<p>
    <strong>Learn More</strong>
    <br />
    <br />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/zxz0WNVnF38" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>
<a href="/lesson/polynomial" class="button">Next!</a>