<h1>
    Polynomial Functions
</h1>
<p>
    <em>
        f(x) = a(x-h)<sup>p</sup> + k
    </em>
</p>
<p>
    This polynomial is represented in vertex form.
    <ul>
        <li>The vertex of this polynomial is <em>(h, k)</em></li>. 
        <li><em>a</em> represents the vertical stretch of this polynomial.</li>
        <li><em>p</em> represents the power of the polynomial.</li>
    </ul>
</p>
<p>
    <strong>Learn More</strong>
    <br />
    <br />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Vm7H0VTlIco" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>