<h1>
    Quadratic Functions
</h1>
<p>
    <em>
        f(x) = a(x-h)<sup>2</sup> + k
    </em>
</p>
<p>
    This quadratic is represented in vertex form.  
    
    <ul>
        <li>The vertex of this quadratic is <em>(h, k)</em>.</li>
        <li><em>a</em> represents the vertical stretch of this quadratic.</li>
    </ul>
</p>
<p>
    <strong>Learn More</strong>
    <br />
    <br />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/IWigvJcCAJ0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>
<a href="/lesson/cubic" class="button">Next!</a>