<h1>
    Trigonometric Functions
</h1>
<p>
    <em>
        f(x) = a(sin(b(x-h))) + k
    </em>
</p>
<p>
    This is the general equation of a sine wave.
    
    <ul>
        <li><em>a</em> represents the vertical stretch of the sine wave.</li>
        <li><em>b</em> represents the wavelength of the sine wave.</li>
        <li><em>h</em> represents the horizontal shift of the sine wave.</li>
        <li><em>k</em> represents the vertical shift of the sine wave.</li>
    </ul>
</p>
<p>
    <em>
        f(x) = a(cos(b(x-h))) + k
    </em>
</p>
<p>
    This is the general equation of a cosine wave.
    
    <ul>
        <li><em>a</em> represents the vertical stretch of the cosine wave.</li>
        <li><em>b</em> represents the wavelength of the cosine wave.</li>
        <li><em>h</em> represents the horizontal shift of the cosine wave.</li>
        <li><em>k</em> represents the vertical shift of the cosine wave.</li>
    </ul>
</p>
<p>
    <strong>Learn More</strong>
    <br />
    <br />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/VMAMARmmDac" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>