<h1>
    Trigonometric Functions
</h1>
<p>
    <em>
        f(x) = a(sin(b(x-h))) + k
    </em>
    
    This is the general equation of a sin wave.  A represents the vertical stretch of the sin wave.  B represents the wavelength of the sin wave.  H represents the horizontal shift of the sin wave.  K represents the vertical shift of the sin wave.

    <em>
        f(x) = a(cos(b(x-h))) + k
    </em>
    
    This is the general equation of a cos wave.  A represents the vertical stretch of the cos wave.  B represents the wavelength of the cos wave.  H represents the horizontal shift of the cos wave.  K represents the vertical shift of the cos wave.

</p>