<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Math Dungeon</title>
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" href="/static/style/index.css">
    </head>
    <body>
        <nav>
            <h1>
                Math Dungeon
            </h1>
        </nav>
        <img>
        </img>
        <p class="description">
            Introducing Math Dungeon. A wizard with the powers of Math needs 
            your help! The Wizard must eliminate his opponents with his 
            (something), which travels through space in the shape of functions.
            he Wizard never got past elementary school and therefore doesn’t 
            know any equations! With your knowledge, you can write the 
            equations for the wizard to eliminate his opponents. Good luck and 
            remember that the wizard can’t help you you must learn on your own.
        </p>
        <button class="main-button">
            Start at Lesson 1
        </button>
    </body>
</html>
