<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Math Dungeon</title>
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" href="/static/style/lesson.css">
    </head>
    <body>
        <nav>
            <h1>
                <a href="/">
                    Math Dungeon
                </a>
            </h1>
        </nav>
        <div class="content">
            {{{lessonHTML}}}
        </div>
    </body>
</html>
