<html>
    <head>
        <title>MathDungeon Forums</title>
        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"   
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <h1>
            MathDungeon Forums
        </h1>
        <div>
            <h2>Make a post</h2>
            <input type="text" id="post-title-field" placeholder="Title" />
            <input type="text" id="post-poster-field" placeholder="Your Name" />
            <textarea id="post-body-field" cols="30" rows="10" placeholder="Your Post"></textarea>
            <button id="post-button">Comment</button>
        </div>

        <script src="/static/js/make-forum-post.js"></script>
    </body>
</html>